<h1> Editing Article </h1>
<%= form_for :article, url: article_path(@article), method: :patch do |f| %>
  <%if @article.errors.any?%>
    <div id='error_explanation'>
      <h2>
        <% pluralize(@article.errors.count, 'error') %> prohibited this article ffrom being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg|%>
          <li>
            <%= msg %>
          </li>
        <%end%>

      </ul>
    </div>
  <%end%>
<p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Back', articles_path %>
