<h1>Listing articles</h1>
<table>
  <%= p "Your last visit was" + "===#{@session[:datasum]["title"]}==="+ " article..." if @session[:datasum]%>
  <%= link_to 'visit again' , article_path(@session[:datasum]["id"])  if @session[:datasum] %>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
  <td><%= link_to 'Edit', edit_article_path(article) %></td>
    </tr>
  <% end %>
</table>
