<h1> Articles </h1>
<%= form_for :article, url: articles_path do |f| %>
<!-- In case you want to use helpers  -->
<%#= p form_name %>
<% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
 </p>
 <p>
   <%=f.label :text %>
   <%=f.text_area :text %>
 </p>
 <%=f.submit %>
<%end%>
